body{
    background-color: #eee ;
    font-family: "Roboto" ,sans-serif;
    color: #444;
    width: 90%;
    margin: 5%;
}
h1{
    /* Cores */
    color: #fff;
    background-color: #005A9Ed8;
    /* Tamanhos */
    height: auto;
    /* Alinhamento */
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    /* Estilização */
    font-family: "Poppins" ,sans-serif;
    border-bottom:#00f solid 4px;

}
h2{
    /* CORES */
    color: #0a0a97;
    background-color: lightgrey;
    /* TAMANHO */
    height: auto;
    /* ALINHAMENTO */
    text-align: left;
    padding-left: 5px;
    margin-bottom: 0px;
    /* ESTILIZAÇÃO */
    border-bottom: #00f solid 4px;
    font-family: "Poppins" ,sans-serif;

}

.dadosPessoais{
    /* background-color: #fff; */
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
}
p{
    padding: 0px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.objetivo{
    height: auto;
    padding: 2PX;
    font-weight: bold;
    color:black;
}
.empresa{
    width: auto;
    height: 20px;
    font-size: 24px;
    color: black;
    font-style: italic; 
}
a:hover{ 
    background-color: #341bb0;
    color: yellow;
}
.cargo{
    font-weight: bold;
    font-size: 20PX;
    padding-left: 20px;
    margin-bottom: 0px;

}
.atividades{
    margin-top: 0px;
    padding-left: 40px    

}
