body{
    background-color: #eee ;
    /* padding: 2%; */
    /* Responsável por centralizar os content */
    display: grid;
    place-items: center;
    /* margin: 0; */
    font-family: "Roboto" ,sans-serif;
    

}
h1{
    /* Cores */
    color: #fff;
    background-color: #005A9Ed8;
    /* Tamanhos */
    height: auto;
    width: 80%;
    /* Alinhamento */
    text-align: center;
    padding: 1px;
    margin-bottom: 5px;
    /* Estilização */
    font-family: "Poppins" ,sans-serif;
    border-bottom:#00f solid 4px;

}
h2{
    /* CORES */
    color: #0a0a97;
    background-color: lightgrey;
    /* TAMANHO */
    height: auto;
    width: 80%;
    /* ALINHAMENTO */
    text-align: left;
    padding: 2px;
    padding-left: 20px;
    margin-bottom: 0px;
    /* ESTILIZAÇÃO */
    border-bottom: #00f solid 4px;
    font-family: "Poppins" ,sans-serif;

}

.dadosPessoais{
    /* background-color: #fff; */
    width: 80%;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
}
p{
    padding: 0px;
    justify-content: left;
    text-align: center;
    width: 80%;
    font-family: "Poppins", sans-serif;
}

.objetivo{
    text-align: left;
    font-weight: bold;
}
.empresa{
}
.cargo{
}
.duracao{

}
